/*          Codigo CSS para PokemonAdd      */

.PokemonAdd_body
{
    background-color: #ffbf00;
    height: 1200px;
    width: 100%;
}

.PokemonAdd_title
{
    display: block;
    margin: 0 auto;
    width: 30%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background-color: black;
    color: #ffbf00;
    border-radius: 100px;
    margin-top: 30px;
}

.PokemonAdd_main
{
    display: grid;
    margin: 50px 40px;                          /*      Eje X   /   Eje Y       */
    height: 800px;
    background-color: black;
    border-radius: 20px;
}

.PokemonAdd_main_container
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}



/*          Container 1         */

.PokemonAdd_main_left
{
    display: flex;
    height: 600px;
    margin: 20px 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.PokemonAdd_main_left tr
{
    height: 60px;
    line-height: 60px;
}

.PokemonAdd_main_left tr td
{
    padding-left: 20px;
}


.tabla_textBox
{
    display: block;
    margin: 0 auto;

    width: 600px;
    border: black solid 2px;
    border-radius: 20px;
}


.textbox_number
{
    width: 350px;
    text-align: right;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
}

.textbox_letter
{
    width: 350px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    padding-left: 15px;
}



/*          Container 2         */

.PokemonAdd_main_right
{
    display: flex;
    height: 600px;
    margin: 20px 20px;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}

.table_types
{
    width: 850px;
    display: block;
    margin: 0 auto;

    margin-top: 40px;
    margin-bottom: 20px;

    border: black solid 2px;
    border-radius: 20px;
}

.PokemonAdd_main_right tr
{
    height: 60px;
    line-height: 60px;
}

.PokemonAdd_main_right tr td
{
    width: 150px;
    padding-left: 20px;
}


.table_types tr input:checked
{
    background-color: black;
    color: white;
}


.checkbox
{
    background-color: black;
    color: #ffbf00;
    width: 110px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding-left: 10px;
    border-radius: 20px;
}




/*          Container 3         */

.container_button
{
    display: flex;
    width: 100%;
    margin-top: 30px;
}

.button_main
{
    display: block;
    margin: 0 auto;
    height: 60px;
    width: 250px;
    background-color: #ffbf00;
    color: black;
    border: white solid 5px;
    border-radius: 20px;
}


